<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--style sheets -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="content/css/pettycash.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<!-- Declaring our Angular App and tying in our NavController-->
<body ng-app="PettyCash" ng-controller="navController as NC" ng-cloak>
  <div class="navBarDemo" ng-cloak>
      <md-nav-bar md-selected-nav-item="NC.currentNavItem" nav-bar-aria-label="navigation links">
        <div class="md-display-1" id="title">PettyCash</div>
        <md-nav-item md-nav-click="goto('page4')" name="1" value="1">Home</md-nav-item>
        <md-nav-item md-nav-click="goto('page4')" name="2" value="Expenses">Expenses</md-nav-item>
        <md-nav-item md-nav-click="goto('page4')" name="3" value="LinkAccount">Link Account</md-nav-item>
        <span flex></span>
        <!-- Apple sign in-->
        <md-nav-item name="username" id="displayed-username"></md-nav-item>
        <span></span>
        <div id="apple-sign-in-button"></div>
        <div id="apple-sign-out-button"></div>
      </md-nav-bar>
  </div>
  <!--This is our Home div. It is shown by default but will be hidden if another tab on the nav bar is selected -->
  <!-- We opted for the ng-show/ng-hide implementation because ng-Route would not reload PhaserJS properly when returning home -->
  <div ng-show="NC.currentNavItem == 1">
    <div flex>
    <md-toolbar id="petToolBar" layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Savings Pet</span>
      </div>
    </md-toolbar>
    <div layout-align="center center" layout="row" id="petGameDiv">
      <div id="petGame"></div>
    </div>
      </div>
    <!-- Goals and Transactions tables -->
    <div layout="column" id="lowerDiv">
      <div flex="auto">
        <div id="goals" ng-controller="GoalsController as goalList">
          <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
              <span>Goals</span>
              <span flex></span>
              <md-button class="md-primary md-raised" ng-click="goalList.checkLogin($event)">Create Goal</md-button>
            </div>
          </md-toolbar>
          <div layout="row">
            <span flex="5"></span>
            <md-subheader class="md-no-sticky">Info</md-subheader>
            <span flex="75"></span>
            <md-subheader class="md-no-stick">Contribution Chart</md-subheader>
          </div>
          <md-content>
          <md-list>
            <input type="button" class="invBtn" id="loadGoals" ng-click="goalList.loadGoals()" value="Load Goals">
            <md-list-item class="md-2-line" ng-repeat="goal in goalList.goals track by $index" ng-click="goalList.getTransactions(goal, $event)">
              <md-button class="md-primary" ng-click="goalList.delete(goal, $index)">
                <md-icon title="delete" id="deleteIcon" class="material-icons">delete</md-icon>
              </md-button>
              <div class="md-list-item-text" layout="column">
                <h3>{{goal.description}}</h3>
                <p>Amount: {{goal.amount | currency}}</p>
                <p>End Date: {{goal.endDate | date:'longDate'}}</p>
                <p>Priority: {{goal.priority | priority}}</p>
              </div>
              <div layout-align="end center">
                <div id="canvas-wrap">
                  <canvas id="doughnut" class="chart chart-doughnut" chart-data="goal.data" chart-labels="labels" chart-options="options" chart-colors="goal.colors" height="100"></canvas>
                  <div id="overlay"></div>
                </div>
              </div>
              <md-divider></md-divider>
            </md-list-item>
            <br>
          </md-list>
          </md-content>
          </div>
        </div>
        <md-content flex="auto">
          <div id="transactions" ng-controller="TransactionsController as transList">
            <input type="button" class="invBtn" id="loadTrans" ng-click="transList.loadTransactions()" value="Load Transactions">
            <input type="button" class="invBtn" id="addTran" ng-click="transList.addTransaction()" value="Add Transaction">
<!--
            <md-list class="md-dense">
              <md-subheader class="md-no-sticky">Progress towards your goals.</md-subheader>
              <md-list-item class="md-2-line" ng-repeat="transaction in transList.transactions track by $index">
                <span>
                  <span>{{transaction.description}}  {{transaction.amount | currency}}  {{transaction.date | date:'longDate'}}</span>
                  <input id="delete" type="button" ng-click="transList.delete(transaction, $index)" value="X">
                </span>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
-->
          </div>
        </md-content>
      </div>
    </div>
    <!-- Expenses Div which is hidden by default using ng-show based on nav-selection -->
    <div class="Aligner" ng-show='NC.currentNavItem == 2'>
        <div ng-controller="ExpensesController as exp" ng-cloak="" layout-gt-sm="row" layout="column" class="Aligner-item" flex=80>
          <div flex>
            <md-toolbar layout="row" class="md-hue-3">
              <div class="md-toolbar-tools">
                <span>Account Transactions</span>
              </div>
            </md-toolbar>
            <md-content>
              <md-list class="md-dense" flex>
                <md-subheader class="md-no-sticky">Info</md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-click="null" ng-repeat="x in expenses">
                  <i class="material-icons md-avatar">{{getIcon(x)}}</i>
                  <div class="md-list-item-text" layout="column">
                    <h3>{{x.name}}</h3>
                    <p>{{x.date | date:'medium'}}</p>
                  </div>
                  <div layout-align="end center">
                    <h3 ng-class="{'color-red': x.amount > 0, 'color-green': x.amount < 0}">{{x.amount | deposit | currency}}</h3>
                  </div>
                </md-list-item>
                <md-divider></md-divider>
                </md-list>
              </md-content>
              </div>
          </div>
    </div>

    <!-- link module -->
    <div class="Aligner" ng-controller="mainCtrl" ng-show="NC.currentNavItem == 3">
        <md-content class="Aligner-item">
            <div class="clearfix">
                <h1>link your account </h1>
            </div>

            <div class="row" ng-show="NC.AccountLinked == 0">
                <div class="col-md-6 Aligner-item">
                    <md-button class="btn btn-success md-primary" ng-click="openPlaid()" ng-disabled="!plaidIsLoaded()">
                        Select Bank
                    </md-button>
                </div>
            </div>
        </md-content>
    </div>
</body>
  <!--Dependencies  -->
  <!--must include Angular first -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
  <script src="https://cdn.apple-cloudkit.com/ck/2/cloudkit.js"></script>
  <!-- configs -->
  <script src="loadCtrls.js"></script>
  <script src="cloudkit/ckconfig.js"></script>
  <!-- game scripts -->
  <script src="pet.js"></script>
  <!-- Angular controllers -->
  <script src="controllers/goals.js"></script>
  <script src="controllers/expenses.js"></script>
  <script src="controllers/transactions.js"></script>
  <!-- CloudKit auth and data retrieval -->
  <script src="cloudkit/authentication.js"></script>
  <script src="cloudkit/query.js"></script>
  <!--Link -->
  <script src="content/angular-plaid-link.js"></script>
  <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</html>
<!--Authors: Ben Friedmann and Alex Foster. Capstone FS2016 Group 3, PettyCash. MU.  -->
