#loadGoals {
    display: none;
}

#loadTrans {
    display: none;
}

#addTran {
    display: none;
}

li {
    list-style-type: none;
    margin-bottom: 3px;
}

ul {
    padding-left: 0;
}

#delete {
    color: red;
}

#petGame {
    float: left;
}
#displayed-username {
  min-width: 170px;
  padding-top: 13px;
}
#petGameDiv {
  padding: 20px;
  margin-bottom: 10px;
}
#lowerDiv {
  height: 300px;
  padding: 20px;
  margin-bottom: 10px;
}
