#loadGoals {
    display: none;
}

#loadTrans {
    display: none;
}

#addTran {
    display: none;
}

li {
    list-style-type: none;
    margin-bottom: 3px;
}

ul {
    padding-left: 0;
}

#delete {
    color: red;
}

#petGame {
    float: left;
}